@{
    ViewBag.Title = "Index";
}

@using StudyProjectOne.Models
@model List<Prefix>

<h2>Index</h2>

<script type="text/javascript">
    $(document).ready(function () {

        var table = $('#prefixTable').DataTable(
        {
            "ajax":
            {
                "url": '@Url.Action("ViewPrefix", "Home")',
                "dataSrc": ""
            },
            "columns": [
            { "data": "Id" },
            { "data": "Network" }
            ]
        });



        $('#prefixTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
                $("#edit_button").attr("disabled", "disabled");
                $("#remove_button").attr("disabled", "disabled");

            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                $("#edit_button").removeAttr("disabled");
                $("#remove_button").removeAttr("disabled");
            }
        });

  //      $('.button_jqui').button();


        $("#remove_button").attr("disabled", "disbled");
        $("#edit_button").attr("disabled", "disbled");

        $('#remove_button').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("RemovePrefix", "Home")',
                data: ({ id: $('#prefixTable .selected td:eq(0)').text() })
            });
            table.row('.selected').remove().draw(false);
        });



        $('#edit_button').click(function (e) {
            e.preventDefault();

            $('#edit_Id').val($('#prefixTable .selected td:eq(0)').text());
            $('#edit_network').val($('#prefixTable .selected td:eq(1)').text());
            $('#edit_div').show();
        });

        $('#edit_ok').click(function (e) {
            e.preventDefault();

            $('#edit_div').hide();
        });

    });
</script>


<table id="prefixTable" class="display dt-left" style="width: 50%; float: left">
    <thead>
        <tr>
            <td>Id</td>
            <td>Prefix</td>
        </tr>
    </thead>
</table>

<p>
    <button class="button_jqui">Добавить</button>
    <button  class="button_jqui" id="edit_button" >Изменить</button>
    <button  class="button_jqui" id="remove_button">Удалить</button>
<p>

    <div id ="edit_div" style="border: solid 1px black; width: 200px;padding: 5px; display:none">
        <input type="text" id="edit_Id" /><br /><br />
        <input type="text" id="edit_network"/><br/><br/>
        <button class="button_jqui" id ="edit_ok">Ok</button>
    </div>






