@{
    ViewBag.Title = "RemovePrefix";
}



@using StudyProjectOne.Models
@model List<Prefix>



<script type="text/javascript">
    $(document).ready(function() {
        $('#prefixTable').DataTable();
    });
</script>

<div id="table">
    <table id="prefixTable">
        <thead>
            <tr>
                <td>Id</td>
                <td>Prefix</td>
                <td>Remove</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model)
            {
                <tr>
                    <td>@line.Id</td>
                    <td>@line.ToString()</td>
                    <td>@Ajax.ActionLink("Remove", "RemovePrefix", new { id = @line.Id }, new AjaxOptions { UpdateTargetId = "table", InsertionMode = InsertionMode.Replace })</td>
                </tr>
            }
        </tbody>
    </table>
</div>